*{
margin-left: 10;
margin-top: 10;
padding: 1;
}
input, textarea, select, fieldset, button{
    border-radius: 10px
}
body{
    justify-content: center;
    font-size: 17px;
}
fieldset{
    text-align: center;
    width: 70em;
    align-self: center;
}
h2{
font-family:"sans-serif";
}